<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/plugins/layui/layui.css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/plugins/jquery.min.js' charset="utf-8"></script>
    <script src='/plugins/layui/layui.all.js' charset="utf-8"></script>
</head>
<body>
<ul class="layui-nav">
    <li class="layui-nav-item"><a href="/">主页</a></li>
    <li class="layui-nav-item layui-this"><a href="add">新增 / 编辑记录</a></li>
</ul>

<script>
  layui.use('element', function(){
    var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

    //监听导航点击
    element.on('nav(demo)', function(elem){
      //console.log(elem)
      layer.msg(elem.text());
    });
  });
</script>
</body>
</html>
