<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
<%- include header %>
<div class="main">
  <div class="layui-tab-item layui-show">
    <div class="filter-box">
      <div class="layui-inline">
        <input class="layui-input" placeholder="请输入关键字" name="id" id="key-words" autocomplete="off">
      </div>
      <button class="layui-btn search-btn" data-type="reload">搜索</button>
      <button class="layui-btn layui-btn-primary"><a href="/" style="color: #000">重置</a></button>
    </div>
    <table id="list" lay-filter="list"></table>
  </div>
</div>

<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑 / 查看</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
  layui.use('table', function(){
    let table = layui.table;

    //第一个实例
    table.render({
      elem: '#list',
      // height: 312,
      url: '/getList', //数据接口,
      // page: true, //开启分页
      cols: [[ //表头
        {field: 'title', title: '标题', width: 300},
        {field: 'content', title: '内容'},
        {field: 'createTime', title: '创建时间', sort: true, width: 190},
        {title:'操作', toolbar: '#barDemo', width:150}
      ]],
      id: 'testReload'
    });

    let $ = layui.$, active = {
      reload: function(){
        let keyWords = $('#key-words');

        //执行重载
        table.reload('testReload', {
          where: {
            key: keyWords.val()
          }
        }, 'data');
      }
    };

    $('.search-btn').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });

    //监听行工具事件
    table.on('tool(list)', function(obj){
      var data = obj.data;
      //console.log(obj)
      if(obj.event === 'del'){
        layer.confirm('是否确认删除？', function(index){
          $.get(`/deleteInfo?id=${obj.data.id}`, function (res) {
            if (!res.code) {
              layer.msg('删除成功。')
              obj.del();
              layer.close(index);
            } else {
              layer.msg('删除失败。')
            }
          })

        });
      } else if(obj.event === 'edit'){
        location.replace(`/add?id=${obj.data.id}`)
      }
    });

  });
</script>
</body>
</html>
