body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.main {
  padding: 20px;
}

.filter-box {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.filter-box input {
  width: 300px;
  margin-right: 10px;
}